@{
    ViewData[Constants.Title] = NetCoreSlimBlog.Properties.Resources.Offline;
}
<div class="container">
    <h1>@NetCoreSlimBlog.Properties.Resources.Offline</h1>
    <p>@NetCoreSlimBlog.Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>
